DEVNET_INDEX='@topicOfYourTangleMessages'
API_PORT='port_where_your_service_will_run'
EDGE_IMPULSE_API_KEY='your_edge_impulse_api_key'
EDGE_IMPULSE_PROJECT_ID='id_of_your_edge_impulse_project'
DEVICE_ID='id_of_your_device_for_sampling'
DEVICE_SENSOR='device camera identifier'